/* ====================================
// css variables
// ==================================== */

:root {
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: text-top;
}

/* ====================================
// base rules
// ==================================== */

header {
  margin: 20px 77px 47px 7px;
}

header a {
  text-decoration: none;
  padding-right: 17px;
}

header h1 {
  margin: 53px 0 10px 0;
}

header h2 {
  font-size: 16px;
}

main {
  margin-bottom: 16px;
}

.main_margin {
  margin: 0 0 20px 7px;
}

main h3 {
  font-size: 12px;
}

main p {
  font-size: 12px;
  font-weight: 400;
  margin: -10px 0 10px 0;
}

.back_to_projects {
  text-align: center;
}

.main_p_margin {
  margin-left: 7px;
  padding: 54px 77px 54px 0;
}
